<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.pixelcompanion.app" android:versionCode="3" android:versionName="0.3.0">
  <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="35"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <application android:label="Pixel Companion" android:theme="@android:style/Theme.Material.NoActionBar" android:usesCleartextTraffic="true" android:allowBackup="false" android:supportsRtl="true">
    <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="reverseLandscape" android:configChanges="orientation|screenSize|keyboardHidden" android:launchMode="singleTask">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
    </activity>
  </application>
</manifest>
